*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    --bg-color:#0F172A;
    --stroke-color:#1E293B;
    --text-color-primary:#F1F5F9;
    --text-color-secondary:#CBD5E1;
    --font-family:"Archivo", sans-serif;
    --text-heading1:Bold 24px/135%  var(--font-family);
    --text-heading2:Bold 16px/140%  var(--font-family);
    --text-heading3:Bold 14px/145%  var(--font-family);
    --text-span: Bold 14px/145%  var(--font-family);
    --text-paragraph:Regular 16px/160%  var(--font-family);
}
