section header {
    border-top:1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--tex-span);
    a {
        justify-self:end;
        align-items: center;
        gap:8px;
        span{
            background-image: url(../assets/icons/ArrowRight.svg);
            width: 16px;
            height: 16px;
        }
        &:hover{
        span{
            background: url(../assets/icons/ArrowRight_hover.svg);
        }
    }
    }
    
}

#featured{ 
    img{
        height: 100%; 
        object-fit: cover;
        border-radius: 4px;
    }
    .card{
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        &::before{
            content:"";
            position:absolute;
            inset: 0;
            
            top:50%;
            background: linear-gradient(
                180deg,
                transparent,
                #020617 100%
            );
            
        }
        figcaption{
            position: absolute;
            bottom: 0;
            padding: 24px;
            
            h2{
                margin-top:8px;
            }
            &:has(.text-lg){
                padding:12px;
            }
        }

    }
}

#weekly{
   

    &>div{
        grid-template-columns:repeat(4,292px)
    }
    img{
        height: 160px;
    }
    /* padding-block:80px; 
    border: 1px solid var(--stroke-color);
    border-inline: none;
     */
     figure{
        position: relative;

        .content-tag{
            position: absolute;
           top:8px;
           left: 8px;
        }
     }
     p{
        margin-top: 8px;
        font-weight: 800;
     }
   
}