.grid {
    display: grid;
}
.grid-flow-cols{
    grid-auto-flow: column;
}
.grid-cols-2{
    grid-template-columns:1fr 1fr;
}
.container{
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 32px;
}

.gap-16{
    gap:16px;
}

.text-2xl{
    font: var(--h1);
}
.text-xl{
    font: var(--h2);
}
.text-lg{
    font: var(--h3);
}
.text-sm{
    font: var(--text-sm);
}